<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Statistics</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://unpkg.com/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div id="stats">
			<label>#rankings</label>
				<input v-model.number="numRankings" type="number" min="1" :max="numMembs">

			<br>

			<label>#best</label>
				<input v-model.number="numBest" type="number" min="1" :max="numMembs">

			<chart></chart>

			<div class="vertical-break-100"></div>

			<label>Day</label>
				<input v-model.number="showDay" type="number" min="1" :max="maxDay">

			<div id="daily-stats">

				<div id="star1">
					<h2>First star on Day {{ showDay }}</h2>
					<ol>
						<li v-for="i in star1">
							<span>{{ i[1] }} <strong>{{ i[0] }}</strong></span>
						</li>
					</ol>
				</div>

				<div id="star2">
					<h2>Second star on Day {{ showDay }}</h2>
					<ol>
						<li v-for="i in star2">
							<span>{{ i[1] }} <strong>{{ i[0] }}</strong></span>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</body>
</html>
